@media only screen and (max-width: 1000px) {
  .home-view .juan a {
    margin-left: 0px;
  }
  .home-view .home_header,
  .home-view .aboutme,
  .home-view .projects_header,
  .home-view .skills,
  .home-view .contact {
    display: none;
  }

  .home-view .es,
  .en {
    margin-left: -80px;
  }

  .container-1 {
    flex-direction: column;
  }

  .container-2 .hi-im-juan-frontend-developer,
  .container-2 .hi-im-juan-frontend-developer-sub-0,
  .about_container .hi-im-juan-frontend-developer-sub-1,
  .container-2 .hi-im-juan-frontend-developer-sub-242 {
    font-size: 46px;
  }

  .home .foto-de-portafolio-1 {
    width: 300px;
    height: 300px;
  }

  .container {
    margin-left: -150px;
  }

  .about_me .about_container .about_content {
    margin-left: 0px;
  }

  .projects .project_view .project_card {
    padding: 0px;
  }

  .about_me .about_container {
    display: flex;
    flex-direction: column;
  }

  .about_me .about_container .about_content {
    width: 350px;
  }

  .projects .project_view {
    display: flex;
    flex-direction: column;
  }

  .home .foto-de-portafolio-1 {
    margin-left: 0px;
  }
}
